.grad {
  background-image: linear-gradient(#006eff, #0d0242);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
/* CSS para la pantalla de Inicio de la Tarjeta */
.inTarjeta {
  margin: auto 0;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.274);
  color: white;
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inTarjeta h1 {
}
#imagenTarjeta {
  height: 10rem;
  width: 10rem;
}

.inTarjeta h2 {
  text-align: center;
}
.inTarjeta span {
  font-weight: 700;
  color: white;
}
.my-btn-Tarjeta {
  height: 90px;
}

/*Termina CSS de Pantalla de Incio Tarjeta de Credito*/

/*Inicia pantalla de bienvenidos NIP*/
.bienvenidos h1,
.Opciones h1 {
  padding-top: 20px;
  margin-left: 20px;
}

.textNip {
  font-size: xx-large;
  margin: 200px 0 0 80px;
}
.myNip {
  margin-left: auto;
  margin-right: auto;
}
.inputNip {
  height: 40px;
  width: 100px;
  margin-left: 300px;
  margin-top: 20px;
}
.botonesNip,
.botonesOpciones {
  margin-top: 100px;

  display: flex;
  padding: 10px;

  justify-content: space-around;
}
/*Termina pantalla de bienvenidos NIP*/

/*Inicio Pagina de Opciones*/
.Opciones h2 {
  margin-top: 180px;
  margin-left: 50px;
}
.flexbox-salir {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-top: 20px;
}

/*Termina Pagina de Opciones*/
