<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./transaccion_Exitosa.css">
  <title>Cajero sin saldo</title>
</head>
<body class="grad">


  <!--Contenedor-->
  <div class="my_Container">
      <div class="text_Central1">
        <br><br><h3>TRANSACCION EXITOSA</h3>
        <h3>Gracias, fue un placer atenderle.</h3>
      </div>
    
      <button type="button" class="my_Btn btn btn-success" onclick="paginaFinal()">Salir</button>
  </div>
  <script src="./transaccion_Exitosa.js"></script>
</body>
</html>