<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./digite_Numero_Cuenta.css">
  <title>Digie su numero de cuenta</title>
</head>
<body class="grad">

<div class="caja_input"> 
    <span>Digite el <h2 style="color:greenyellow;">numero de cuenta</h2> de la que va a debitar el dinero.</span>
    <input class= "input_num" type="number">
</div>

<div class="caja_teclado">
    <span>Aqui va el teclado numerico</span>
</div>

<div class="my_buttons">
    <div>
        <button type="button" class="my_Btn btn btn-success"onclick="paginaDebitarMonto()">Continuar</button>
    </div>
    <div> 
    <button type="button" class="my_Btn btn btn-success" onclick="paginaFinal()">Salir</button>
    </div>
</div>
 
  <script src="./digite_Numero_Cuenta.js"></script>
</body>
</html>