<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./sin_Saldo_Cajero1.css">
  <title>Cajero sin saldo</title>
</head>
<body class="grad">


  <!--Contenedor-->
  <div class="my_Container">
      <div class="text_Central1">
          <p>Lo sentimos en este momento no podemos dispensar tu dinero.</p> <br>
          <p>Te ofrecemos disculpas.</p>
      </div>
      <div class="text_Central2">
        <h3>¿Que te gustaria hacer?</h3>
      </div>
  </div>
  
  
  <!-- Botones -->
    <div class="my_Button">
      <div>
        <button type="button" class="my_Btn btn btn-success"onclick="paginaOpciones()">Otra Transacción</button>
      </div>
      <div>
        <button type="button" class="my_Btn btn btn-success" onclick="paginaFinal()">Salir</button>
      </div>
    </div>

    <script src="./sin_Saldo_Cajero1.js"></script>
</body>
</html>